<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
  </header>
 
  <main>
    <div class="row">
      <div class="container">
        <div class="jumbotron">
            <h2>Weather forecast for <%= forecast[0].location.name %></h2>
            <h4>Today is <%= forecast[0].current.day %> <%= forecast[0].current.date %>. Local time is <%= forecast[0].current.observationtime %></h4>
            <p>Current temperature is <%= parseInt((parseInt(forecast[0].current.temperature)-32) * (5/9)) %>ยบC (<%= forecast[0].current.temperature %>ยบ<%= forecast[0].location.degreetype %>).</p>
            <p>Sky looks <%= forecast[0].current.skytext.toLowerCase() %>.</p>
            <p>Wind speed is <%= forecast[0].current.windspeed.toLowerCase() %>.</p>
            <img src="<%= forecast[0].current.imageUrl %>" alt="forecast icon">
        </div>
        <a href="/">Back to Home</a>
      </div>
    </div>
  </main>
  
  <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>
</html>